.add-new-vehicle-container {
    display: flex;
    flex-direction: column;
    margin:0;
    box-sizing: border-box;
    min-height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  

  
  .submit-button {
    margin-top: 20px;
    width: 100%;
  }

  .vehicle-flex{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .add-new-vehicle-container .dropdown-select {
    padding:7px;
  }
  
  .add-new-vehicle-container .dropdown-input-container{
    margin-bottom: 10px;
  }