.assign-the-driver-ui-container {
    display: flex;
    flex-direction: column;
  }
  
  .content-assign-the-driver-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 80px;
    position: relative;
  }
  
  .assign-text{
    font-size: 4rem;
    margin-bottom: 60px;
  }

  span{
    text-decoration: underline 2px solid black;
    
  }

  
  .inputs-container {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .content-assign-the-driver-ui {
      padding-top: 150px;
    }
  
    .choose-action-assign-driver {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
  