.client-ui,
.navbar-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-parent {
  align-self: stretch;
  align-items: flex-end;
  padding: 0 2px;
  box-sizing: border-box;
  gap: 26px;
  max-width: 100%;
}
.client-ui {
  width: 100%;
  position: relative;
  background-color: #e5d7bd;
  overflow: hidden;
  align-items: flex-start;
  gap: 162px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .client-ui {
    gap: 81px;
  }
}
@media screen and (max-width: 450px) {
  .client-ui {
    gap: 40px;
  }
}
