.driver-ui,
.navbar-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-group {
  align-self: stretch;
  align-items: flex-end;
  gap: 26px;
  max-width: 100%;
}
.driver-ui {
  width: 100%;
  position: relative;
  background-color: #e5d7bd;
  overflow: hidden;
  align-items: flex-start;
  gap: 137px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .driver-ui {
    gap: 68px;
  }
}
@media screen and (max-width: 450px) {
  .driver-ui {
    gap: 34px;
  }
}
