.employee-ui-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Dodaj odstęp między elementami */
  padding: 20px;
  padding-top: 7%; /* Upewnij się, że pasuje do wysokości navbar */
  padding-bottom: 3%; /* Upewnij się, że pasuje do wysokości footer */
  justify-items: center; /* Wyśrodkuj elementy w komórkach siatki */
  padding: 180px;
}

.choose-action {
  text-align: center; /* Wyśrodkuj tekst */
  margin-bottom: 30px; /* Zmniejsz odległość między napisem a obrazkami */
  font-size: 40px; /* Dostosuj rozmiar czcionki według potrzeb */
  font-weight: bold; /* Dostosuj wagę czcionki według potrzeb */
  grid-column: 1 / -1; /* Rozciągnij napis na szerokość całej siatki */
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .content {
    grid-template-columns: 1fr;
  }
}
