.navbar-background4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f0e4;
}
.keg-icon4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-us-link {
  height: 75px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.kegdelpol7 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
}
.we-deliver-your7 {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.employee-button {
  width: 261px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 39px;
  box-sizing: border-box;
  text-align: right;
  font-size: 13.5px;
}
.logo-text4 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 26px;
  box-sizing: border-box;
  gap: 3px;
}
.logo-text4,
.logo7,
.logo8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.logo8 {
  align-self: stretch;
  flex-direction: row;
  gap: 15px;
  z-index: 1;
}
.logo7 {
  width: 439px;
  flex-direction: column;
  padding: 26px 0 0;
  box-sizing: border-box;
}
.about-us4,
.home4 {
  width: 170px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.home4 {
  line-height: 119.84%;
}
.about-us4 {
  margin-left: -28px;
  white-space: nowrap;
}
.parent-of-about-us-and-contact {
  width: 142px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.contact5 {
  margin-left: -28px;
  width: 170px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.parent-of-about-us-and-contact1 {
  width: 142px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.navbar-links4 {
  width: 567px;
  justify-content: flex-start;
  padding: 44px 0 50px;
  z-index: 1;
  text-align: center;
  font-size: 20px;
  color: #42372f;
  font-family: "Inria Serif";
}
.navbar-links4,
.navbar5,
.navbar6,
.register-input-employee-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.navbar6 {
  height: 139px;
  flex: 1;
  justify-content: space-between;
  padding: 4px 0 23px 160px;
  position: relative;
  gap: 20px;
  text-align: left;
  font-size: 40px;
  color: #3d3028;
  font-family: "Abyssinica SIL";
}
.navbar5,
.register-input-employee-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 56.5px;
}
.register-input-employee-wrapper {
  justify-content: center;
  padding: 0 20px 0 21px;
}
.footer-background-inner {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: #f2f0e4;
  max-width: 100%;
}
.footer8 {
  width: 92px;
  position: relative;
  display: none;
}
.footer-background4 {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.iconmonstr-linkedin-3-13 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.website-logo-icon,
.website-logo-icon1,
.website-logo-icon2,
.website-logo-icon3 {
  height: 25px;
  width: 25px;
  position: relative;
}
.icons7 {
  margin: 0 !important;
  position: absolute;
  right: 160px;
  bottom: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  z-index: 1;
}
.logo-icon3 {
  width: 30px;
  height: 36px;
  position: relative;
}
.parent-of-footer-bg-and-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
}
.kegdelpol8 {
  margin-left: -0.2999999999999545px;
  height: 68px;
  width: 226px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.we-deliver-your8 {
  width: 183px;
  position: absolute;
  margin: 0 !important;
  bottom: 21px;
  left: -70px;
  font-size: 7.3px;
  text-align: right;
  display: inline-block;
}
.kegdelpol-container,
.logo9 {
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.kegdelpol-container {
  padding: 0;
  position: relative;
}
.logo9 {
  padding: 10px 6px 4px 0;
  gap: 9px;
  z-index: 1;
}
.privacy-policy3 {
  position: relative;
  display: inline-block;
  min-width: 98px;
  z-index: 1;
}
.footer-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 16px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-family: Inter;
}
.logo-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #3d3028;
  font-family: "Abyssinica SIL";
}
.copyright-20243 {
  position: relative;
  z-index: 1;
}
.footer7,
.icons-container1,
.pracownik {
  display: flex;
  justify-content: flex-start;
}
.icons-container1 {
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 15px;
}
.footer7,
.pracownik {
  position: relative;
}
.footer7 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 160px;
  box-sizing: border-box;
  gap: 81px;
  max-width: 100%;
  text-align: center;
  font-size: 30px;
  color: #000;
  font-family: Inter;
}
.pracownik {
  width: 100%;
  background-color: #e5d7bd;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  gap: 66.5px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer7 {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .footer8 {
    font-size: 24px;
  }
}
@media screen and (max-width: 750px) {
  .footer7,
  .navbar6 {
    padding-left: 80px;
    box-sizing: border-box;
  }
  .footer7 {
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .pracownik {
    gap: 33px;
  }
}
@media screen and (max-width: 450px) {
  .navbar6 {
    padding-left: 20px;
    box-sizing: border-box;
  }
  .footer8 {
    font-size: 18px;
  }
  .kegdelpol8 {
    font-size: 16px;
  }
  .logo-parent1 {
    flex-wrap: wrap;
  }
  .pracownik {
    gap: 17px;
  }
}
