.choose-your-action {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.action {
  margin-right: -2px;
  margin-bottom: 15px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 53px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 50px;
  color: #3d3028;
  font-family: Alatsi;
}
@media screen and (max-width: 1050px) {
  .choose-your-action {
    font-size: 40px;
  }
}
@media screen and (max-width: 450px) {
  .choose-your-action {
    font-size: 30px;
  }
}
