.choose-your-action2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.action2,
.assigned-orders-component-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.action2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 53px;
  box-sizing: border-box;
}
.assigned-orders-component-parent {
  width: 650px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}
.actions-container,
.actions-container-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.actions-container-inner {
  width: 1408px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 30px;
  color: #707163;
}
.actions-container {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 34px;
  text-align: center;
  font-size: 50px;
  color: #3d3028;
  font-family: Alatsi;
}
@media screen and (max-width: 1050px) {
  .choose-your-action2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 750px) {
  .assigned-orders-component-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .actions-container {
    gap: 17px;
  }
}
@media screen and (max-width: 450px) {
  .choose-your-action2 {
    font-size: 30px;
  }
}
