.driver-license-car-svgrepo-com-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.assign-the-driver1 {
  position: relative;
}
.assign-the-driver,
.assign-the-driver-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.assign-the-driver-wrapper {
  flex-direction: row;
  padding: 0 39px;
}
.assign-the-driver {
  height: 321px;
  width: 299px;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  color: #707163;
  font-family: Alatsi;
}
@media screen and (max-width: 1050px) {
  .assign-the-driver1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .assign-the-driver1 {
    font-size: 18px;
  }
}
