.action-icon {
  position: absolute;
  height: 93.6%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 6.4%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.assigned-orders {
  margin: 0;
  position: absolute;
  top: 87.21%;
  left: 13.38%;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.assigned-orders-component {
  height: 297px;
  width: 284px;
  position: relative;
  min-width: 284px;
  text-align: center;
  font-size: 30px;
  color: #707163;
  font-family: Alatsi;
}
@media screen and (max-width: 1050px) {
  .assigned-orders {
    font-size: 24px;
  }
}
@media screen and (max-width: 750px) {
  .assigned-orders-component {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .assigned-orders {
    font-size: 18px;
  }
}
