.order-svgrepo-com-2-1 {
  width: 190px;
  height: 190px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.orders {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 88px;
}
.component-21,
.orders-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.orders-wrapper {
  flex-direction: row;
  padding: 0 51px;
}
.component-21 {
  flex-direction: column;
  gap: 22px;
  text-align: center;
  font-size: 30px;
  color: #707163;
  font-family: Alatsi;
}
@media screen and (max-width: 1050px) {
  .orders {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .orders {
    font-size: 18px;
  }
}
