.submit-button {
    font-family: 'Alatsi',sans-serif;
    width: 60%;
    max-width: 150px;
    height: 60px;
    background-color: #F2F0E4;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #000;
    color: #FFF;
  }
  