.logo-instance1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: #f2f0e4;
  max-width: 100%;
}
.footer14 {
  width: 92px;
  position: relative;
  display: none;
}
.footer-background7 {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.iconmonstr-linkedin-3-16 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon10,
.vector-icon11,
.vector-icon8,
.vector-icon9 {
  height: 25px;
  width: 25px;
  position: relative;
}
.icons10 {
  margin: 0 !important;
  position: absolute;
  right: 160px;
  bottom: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  z-index: 1;
}
.logo-icon6 {
  width: 30px;
  height: 36px;
  position: relative;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
}
.kegdelpol15 {
  margin-left: -0.30000000000001137px;
  height: 68px;
  width: 226px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.we-deliver-your15 {
  width: 183px;
  position: absolute;
  margin: 0 !important;
  bottom: 21px;
  left: -70px;
  font-size: 7.3px;
  text-align: right;
  display: inline-block;
}
.kegdelpol-parent3,
.logo16 {
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.kegdelpol-parent3 {
  padding: 0;
  position: relative;
}
.logo16 {
  padding: 10px 6px 4px 0;
  gap: 9px;
  z-index: 1;
}
.privacy-policy6 {
  position: relative;
  display: inline-block;
  min-width: 98px;
  z-index: 1;
}
.copyright-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 16px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-family: Inter;
}
.logo-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #3d3028;
  font-family: "Abyssinica SIL";
}
.copyright-20246 {
  position: relative;
  z-index: 1;
}
.copyright-2024-kegdelpol-sp-wrapper1,
.footer13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 15px;
}
.footer13 {
  align-self: stretch;
  flex-direction: row;
  padding: 24px 160px;
  position: relative;
  gap: 81px;
  text-align: center;
  font-size: 30px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1200px) {
  .footer13 {
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .footer14 {
    font-size: 24px;
  }
}
@media screen and (max-width: 750px) {
  .footer13 {
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .footer14 {
    font-size: 18px;
  }
  .kegdelpol15 {
    font-size: 16px;
  }
  .logo-parent3 {
    flex-wrap: wrap;
  }
}
