.choose-your-action1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.action1,
.component-1-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.action1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 53px;
  box-sizing: border-box;
}
.component-1-parent {
  width: 570px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}
.kegdelpol-logo,
.order-basket-component {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.order-basket-component {
  width: 1410px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 30px;
  color: #707163;
}
.kegdelpol-logo {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 56px;
  text-align: center;
  font-size: 50px;
  color: #3d3028;
  font-family: Alatsi;
}
@media screen and (max-width: 1050px) {
  .choose-your-action1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 750px) {
  .kegdelpol-logo {
    gap: 28px;
  }
}
@media screen and (max-width: 450px) {
  .choose-your-action1 {
    font-size: 30px;
  }
  .component-1-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
