.login3 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: darken;
  min-width: 60px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.login-wrapper {
  margin-top: -41px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px;
}
.login2,
.sign-in-button {
  align-self: stretch;
  box-sizing: border-box;
}
.sign-in-button {
  border: 3px solid rgba(174, 110, 110, 0.5);
  background-color: #f2f0e4;
  height: 85px;
  width: auto;
  outline: 0;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: 7px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.login2 {
  height: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 0 0;
  gap: 8px;
  text-align: center;
  font-size: 25px;
  color: #42372f;
  font-family: K2D;
}
@media screen and (max-width: 450px) {
  .login3 {
    font-size: 20px;
  }
}
