html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 24px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.content-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E5D7BD;
  padding:15px;
  
  
}

h1 {
  font-size: 45px;
  margin-bottom: 20px;
  color: #3D3028;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:60px;
  

}

.input-field {
  width: 100%;
  max-width: 300px;
  height: 60px;
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid #3D3028;
  border-radius: 5px;
  background-color: #F2F0E4;

}

.submit-button {
  width: 60%;
  margin-top: 30px;
  max-width: 150px;
  height: 60px;
  background-color: #F2F0E4;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
  background-color: #000;
  color: #FFF;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:5px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  .input-field {
    width: 90%;
    max-width: 250px;
  }

  .submit-button {
    width: 90%;
    max-width: 120px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }

  .input-field {
    width: 90%;
    max-width: 200px;
  }

  .submit-button {
    width: 90%;
    max-width: 100px;
  }
  
  
}
