.order-item-child {
  position: absolute;
  height: 100%;
  width: 75.15%;
  top: 0;
  right: 12.73%;
  bottom: 0;
  left: 12.12%;
  background-color: #d95f5f;
}
.orders1 {
  position: absolute;
  height: 50.98%;
  width: 100%;
  top: 33.33%;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.order-item {
  align-self: stretch;
  height: 51px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  debug_commit: 1de1738;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: K2D;
}
@media screen and (max-width: 450px) {
  .orders1 {
    font-size: 16px;
  }
}
