.sign-out1 {
  position: relative;
  display: inline-block;
  min-width: 122px;
}
.vector-icon4 {
  width: 30px;
  height: 30px;
  position: relative;
}
.add-driver-data-base,
.sign-out {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.sign-out {
  width: 170px;
  border-radius: 5px;
  background-color: #e5d7bd;
  border: 2px solid #000;
  box-sizing: border-box;
  flex-direction: row;
  padding: 3px 4px;
  gap: 6px;
  text-align: center;
  font-size: 30px;
  color: #42372f;
  font-family: Alatsi;
}
@media screen and (max-width: 1050px) {
  .sign-out1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .sign-out1 {
    font-size: 18px;
  }
}
