.button-shapes-instance {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #f2f0e4;
  border: 2px solid #c2b11d;
  box-sizing: border-box;
}
.employee12,
.update5 {
  align-self: stretch;
  display: flex;
  position: relative;
}
.employee12 {
  flex: 1;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.update5 {
  height: 35px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 25px;
  color: #c2b11d;
  font-family: Alatsi;
}
@media screen and (max-width: 450px) {
  .employee12 {
    font-size: 20px;
  }
}
