.usertoupdate-child1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f0e4;
}
.user-12 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.user-name {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.name4 {
  width: 84px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.attribute-names {
  width: 152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.surname2 {
  width: 137px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.attribute-names1 {
  width: 177px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -83px;
}
.phonenumber2 {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.attribute-names2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  margin-left: -83px;
}
.address2,
.license2 {
  width: 203px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
  margin-left: -83px;
}
.user-attributes,
.user-content {
  flex: 1;
  flex-direction: row;
  max-width: 100%;
}
.user-attributes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 407px;
  font-size: 20px;
}
.user-content {
  gap: 14px;
  min-width: 507px;
}
.action-buttons,
.employee-actions,
.user-content,
.usertoupdate2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.employee-actions {
  align-self: stretch;
  flex-direction: column;
  gap: 7px;
}
.action-buttons,
.usertoupdate2 {
  box-sizing: border-box;
}
.action-buttons {
  width: 127px;
  flex-direction: column;
  padding: 7px 0 0;
}
.usertoupdate2 {
  align-self: stretch;
  flex-direction: row;
  padding: 16px 9px 66px 0;
  position: relative;
  gap: 53px;
  max-width: 100%;
  text-align: center;
  font-size: 30px;
  color: #000;
  font-family: Alatsi;
}
@media screen and (max-width: 825px) {
  .user-12 {
    font-size: 24px;
  }
  .user-attributes,
  .user-content {
    min-width: 100%;
  }
  .user-content {
    flex-wrap: wrap;
  }
  .usertoupdate2 {
    flex-wrap: wrap;
    gap: 26px;
  }
}
@media screen and (max-width: 450px) {
  .user-12 {
    font-size: 18px;
  }
  .address2,
  .license2,
  .name4,
  .phonenumber2,
  .surname2 {
    font-size: 16px;
  }
}
