.log-in-to {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.linked-in-icon {
  height: 7px;
  width: 128px;
  position: relative;
  background-color: #d9d9d9;
  border-top: 7px solid #b9a00a;
  box-sizing: border-box;
}
.icons-row,
.welcome {
  display: flex;
  align-items: flex-start;
}
.icons-row {
  width: 307px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.welcome {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 5px;
  gap: 5px;
  text-align: center;
  font-size: 45px;
  color: #383928;
  font-family: Alatsi;
}
@media screen and (max-width: 1050px) {
  .log-in-to {
    font-size: 36px;
  }
}
@media screen and (max-width: 450px) {
  .log-in-to {
    font-size: 27px;
  }
}
